name: Build Sinopia Docker images
on:
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 6 * * *'

env:
  DOCKER_HUB_TAG: xuwenkeke/npm-sinopia

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1        
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm,linux/arm64
          tags: ${{ env.DOCKER_HUB_TAG }}
      -
        name: Test
        run: |
          docker run --platform linux/arm64 --name sinopia -d -p 4873:4873 ${{ env.DOCKER_HUB_TAG }}
          curl -v http://localhost:4873/
